<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dumpster FIRE - Profile</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/adduser.css' />
    <%- include('common.ejs') %>
</head>

<% var Role = User.Role %>
<script type="text/javascript">
    var imageUploaded = false;
    var image = null;
    let role = "<%= Role %>";
    var permission = {
        Admin : [],
        Manager: ['staffid'],
        Driver: ['staffid', 'role']
    }
   


    $(document).ready(function () {

        var o = new Option("Driver", "Driver");
        /// jquerify the DOM object 'o' so we can use the html method
        $(o).html("Driver");
        $("#role").append(o)
        if(role == 'Admin'){
            var o2 = new Option("Admin", "Admin");
            $(o2).html("Admin");
            $("#role").append(o2)

            var o3 = new Option("Manager", "Manager");
            $(o3).html("Manager");
            $("#role").append(o3)
        }

        $("button.apply").click(function () {
            let profile = {};
            profile.Username = $("#username").val();
            profile.StaffID = $("#staffid").val();
            profile.FirstName = $("#firstname").val();
            profile.LastName = $("#lastname").val();
            profile.Phone = $("#phone").val();
            profile.Email = $("#email").val();
            profile.Address = $("#address").val();
            profile.Role = $("#role").val();

            if (imageUploaded && image != null) {
                profile.Image = image;
            }

            let v = $("#password").val();
            let v2 = $("#confirm-password").val();
            if (v != v2) {
                showMessage("Error","Password doesn't match", 'Error');
            } else {
                console.log("password ", v, v2);
                profile.Password = v ;
                $.post("/user/add", profile, function(data){
                    if(data.success){
                        
                        if (imageUploaded && image != null) {
                            let req = {
                                UserID: data.user.UserID,
                                Image: image
                            }
                            $.post("/profile/upload-photo", req, function () {
                                location.reload(true);
                            });
                        }else{
                            if(data.user.UserID)
                                location.href = "/profile/id/" + data.user.UserID;
                            else
                                showMessage('Error', 'User account error!.','Error');
                        }


                    }else{
                        showMessage("Error",data.error, 'Error');
                    }
                    
                });

            }
           

        });

        $("button.cancel").click(function () {
            location.reload(true);
        });

        $("button.upload").click(function () {
            console.log("upload");
            let fileInput = $('input#dialog');
            fileInput.change(function () {
                var file = fileInput.get()[0].files[0];
                console.log("Filename", file);
                var reader = new FileReader();

                reader.onload = function () {
                    // console.log(reader.result);
                    var img = $('.my-profile-img').get()[0];
                    var url = window.URL || window.webkitURL;
                    img.src = url.createObjectURL(file);
                    image = reader.result;
                    imageUploaded = true;

                };

                reader.readAsBinaryString(file);

            });
            fileInput.trigger('click');

        });




    });

</script>

<body>
    <%- include('messageBox.ejs') %>
    <%- include('header.ejs') %>
    <div class="wrapper">
        <%- include('nav.ejs') %>
            <div class="content">
                <h1 class="title">Create User </h1>
                <div class="container">
                    <div class="col-1">
                        <div class="profile-img">
                            <img src="/profile/image/unknown" alt="" class="my-profile-img">
                        </div>
                        <button class="btn secondary-btn upload">Upload photo</button>

                        <div class="btn-container">

                            <input id="dialog" type="file" style="display: none" accept="image/*" />
                            <button class="btn apply">Create User</button>
                            <button class="btn cancel">Cancel</button>
                        </div>

                    </div>

                    <div class="form">
                        <label for="username">Username </label>
                        <input type="text" name="username" id="username" >
                        <label for="staffid">Staff ID </label>
                        <input type="text" name="staffid" id="staffid" >
                        <label for="role">Role</label>
                        <select name="role" id="role" >
                            
                        </select>
                        <label for="">First Name </label>
                        <input type="text" name="firstname" id="firstname" required pattern="\S+">
                        <label for="">Last Name </label>
                        <input type="text" name="" id="lastname" required pattern="\S+">
                        <label for="">Phone </label>
                        <input type="text" name="phone" id="phone" required pattern="\d{3}-\d{3}-\d{4}">
                        <label for="">Email </label>
                        <input type="text" name="email" id="email" required pattern="\S+@\S+\.\S+">
                        <label for="">Address </label>
                        <textarea name="address" id="address" rows="5"></textarea>
                        <label for="" class="password" id="password-label">Password</label>
                        <input type="password" id="password" class="password" value="" required pattern="\S+">
                        <label for="" class="password">Confirm Password</label>
                        <input type="password" id="confirm-password" class="password" value="" required pattern="\S+">
                        <label for="" class="password error-message"></label>
                        
                    </div>
                </div>
                <div class="col-4">
                </div>
            </div>
    </div>
    </div>

   
</body>



</html>