<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dumpster FIRE</title>
  <link rel='stylesheet' href='/stylesheets/map.css' />
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script src="/javascripts/driverMap.js"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=<%=API_KEY%>&callback=initMap&v=weekly"
    defer></script>
  <%- include('common.ejs') %>
</head>

<style>
  div#body{
    padding: 10px;
    font-size: 16px;
  }

  button.gm-ui-hover-effect{
    font-size: 16px;
  }
</style>
<body>
  <%- include('messageBox.ejs') %>
  <div class="modal popup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success">Yes</button>
          <button type="button" class="btn btn-warning" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
    <%- include('header.ejs') %>
      <div class="wrapper">
        <%- include('nav.ejs') %>
          <div class="content">
            <div id="map"></div>

          </div>
      </div>

</body>

</html>