<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dumpster FIRE - Profile</title>
    <link rel='stylesheet' href='/stylesheets/dumpster.css' />
    <script src="/javascripts/jquery-3.x-git.min.js"></script>
    <script src="/javascripts/chart/Chart.js"></script>
    <%- include('common.ejs') %>


</head>
<!-- <script src="/javascripts/dumpsterInfo.js"></script> -->

<% var dumpsterid = dumpster.DumpsterID %>
<script type="text/javascript">
    var DumpsterID = "<%= dumpsterid %>";
    console.log(DumpsterID);
    $(document).ready(function () {
        var ctx = document.getElementById('myChart').getContext('2d');
        $.get('/dumpster/history/' + DumpsterID, function (d) {
            console.log(d);          
            var scatterChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: d.map(i => new Date(i.label).toDateString()),
                    datasets: [{
                        label: 'Fullness Level',
                        data: d,
                        backgroundColor: '#000',
                        fill: false,
                        borderColor: 'rgba(100, 0, 0, 1.0)',
                        pointRadius: 10,
                    }]
                },
                
                options: {
                    title: {
                        text: "The fullness levels of the selected dumpster",
                        fontSize:40,
                        fontColor: '#000',
                        display: true
                    },
                    legend:{labels: {fontColor: `rgb(255,0,0)`, fontSize: 24}},
                    tooltips: {
                        bodyFontSize: 18,
                        titleFontSize: 18
                    },
                    scales: {
                        yAxes: [{
                ticks: {
                    
                        fontStyle: 'Bold',
                        fontSize: 20,
                        fontColor: '#fff',
                    
                    callback: function(label, index, labels) {
                        return label;
                    }
                },
                scaleLabel: {
                    display: true,
                    labelString: 'Fullness',
                    fontColor: '#ff0000',
                    fontSize: 24,
                    fontStyle: 'Bold'
                }
            }],
            xAxes: [{
                ticks: {
                    
                        fontStyle: 'Bold',
                        fontSize: 20,
                        fontColor: '#fff',
                    
                    callback: function(label, index, labels) {
                        return label;
                    }
                },
                scaleLabel: {
                    display: true,
                    labelString: 'Date',
                    fontColor: '#ff0000',
                    fontSize: 24,
                    fontStyle: 'Bold'
                }
            }]
                    }
                }


                    options: {
                        tooltips: {
                            bodyFontSize: 18,
                            titleFontSize: 18
                        },
                        //     scales: {
                        //         yAxes: [{
                        //             stacked: false
                        //         }]
                        //     }
                    }

                });

            });
        });


    </script>

    <body>
        <%- include('messageBox.ejs') %>
            <%- include('header.ejs') %>
                <div class="wrapper">
                    <%- include('nav.ejs') %>
                        <div class="content">
                            <h1 class="title">Dumpster Information </h1>
                            <div class="container">

                                <div class="col-3">
                                    <div class="form">
                                        <label for="">Location: </label>
                                        <label for="">Calgary </label>
                                        <label for="">Designated Driver: </label>
                                        <label for="">
                                            <% if(driver){ %>
                                                <%= driver.FirstName + ' ' + driver.LastName %>
                                                    <% } else { %>
                                                        None
                                                        <% } %>
                                        </label>
                                        <label for="">Fullness Status: </label>
                                        <label for="">
                                            <%= dumpster.FullnessLevel %>%
                                        </label>
                                        <label for="">Battery Status: </label>
                                        <label for="">
                                            <%= dumpster.BatteryLevel %>%
                                        </label>
                                        <label for="">Estimated fill up date: </label>
                                        <label for="">2020/11/20</label>

                                    </div>
                                    <div class="btn-container">
                                        <button class="btn apply">Add/Change Driver</button>
                                        <button class="btn cancel">Alert Driver</button>
                                    </div>
                                </div>
                                <canvas id="myChart" width="400" height="400"></canvas>

                            </div>



                        </div>
                </div>
    </body>

</html>