<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dumpster FIRE - Profile</title>
    <link rel='stylesheet' href='/stylesheets/dumpster.css' />
    <script src="/javascripts/jquery-3.x-git.min.js"></script>
    <script src="/javascripts/chart/Chart.js"></script>
    <%- include('common.ejs') %>


</head>
<!-- <script src="/javascripts/dumpsterInfo.js"></script> -->
<% var sensorid = dumpster.SensorID %>
<script type="text/javascript">
    var SensorID = "<%= sensorid %>";
    console.log(SensorID);
    $(document).ready(function () {
        var ctx = document.getElementById('myChart').getContext('2d');
        $.get('/dumpster/history/' + SensorID, function (d) {
            console.log(d);
            d = d.map(function(i){
                return {
                    x: new Date(i.x).toUTCString(),
                    y: i.y
                };
            })
            var scatterChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: d.map(i => i.x).sort(),
                    datasets: [{
                        label: 'Fullness',
                        data: d,
                        fill: false,
                        borderColor: 'rgba(100, 0, 0, 1.0)',
                        pointRadius: 10,
                    }]
                },
                
                options: {
                    tooltips: {
                        bodyFontSize: 18,
                        titleFontSize: 18
                    },
                //     scales: {
                //         yAxes: [{
                //             stacked: false
                //         }]
                //     }
                }

            });

        });
    });


</script>

<body>
    <%- include('messageBox.ejs') %>
    <div class="header">
        <h1 class="title"> Dumpster FIRE </h1>
    </div>
    <div class="wrapper">
        <%- include('nav.ejs') %>
            <div class="content">
                <h1 class="title">Dumpster Information </h1>
                <div class="container">

                    <div class="col-3">
                        <div class="form">
                            <div class="col-1">
                                <label for="">Location: </label>
                                <label for="">Designated Driver: </label>
                                <label for="">Fullness Status: </label>
                                <label for="">Battery Status: </label>
                                <label for="">Estimated fill up date: </label>
                            </div>

                            <div class="col-2">
                                <label for="">Calgary </label>
                                <label for="">Ryan H. </label>
                                <label for="">
                                    <%= dumpster.FullnessLevel %>%
                                </label>
                                <label for="">
                                    <%= dumpster.BatteryLevel %>%
                                </label>
                                <label for="">2020/11/20</label>
                            </div>
                        </div>
                        <div class="btn-container">
                            <button class="btn apply">Add/Change Driver</button>
                            <button class="btn cancel">Alert Driver</button>
                        </div>
                    </div>
                    <canvas id="myChart" width="400" height="400"></canvas>

                </div>



            </div>
    </div>
</body>

</html>