<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dumpster FIRE</title>
  <link rel='stylesheet' href='/stylesheets/map.css' />
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script src="/javascripts/map.js"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=<%=API_KEY%>&callback=initMap&libraries=places&v=weekly"
    defer></script>
  <%- include('common.ejs') %>
    <script src="/selectize/js/standalone/selectize.js"></script>
    <link rel="stylesheet" href="/selectize/css/selectize.default.css">
</head>

<script type="text/javascript">
  $(document).ready(function () {
    $(".btn.add-dumpster").click(function () {
      location.href = '/dumpster/add';
    });

  }); 
</script>

<body>
  <%- include('messageBox.ejs') %>
    <%- include('header.ejs') %>
      <div class="wrapper">
        <%- include('nav.ejs') %>
          <div class="content">
            <div class="toolbar">
              <input class='btn primary-btn add-dumpster' type="button" value="Add Dumpster">
               </div>
            <div id="map"></div>

          </div>
      </div>

</body>

</html>