<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dumpster FIRE - Profile</title>
    <link rel='stylesheet' href='/stylesheets/mainMenu.css' />
    <%- include('common.ejs') %>
</head>

<body>
    <%- include('header.ejs') %>
    <div class="wrapper">
        <%- include('nav.ejs') %>
        <div class="content">
            <h1>Welcome to DFIRE <%= user %></h1>
            
            <p>
            You have logged in as <%= role %>. Below is the list of 5 most recent sensor reports.<br>
            </p>
           
        <div class = "dumpsterMainMenu"> 
            
            <table id = "dumpsterReport">
                <tr>
                    <th>Dumpster ID</th>
                    <th>Longitude</th>
                    <th>Latitude</th>
                    <th>Battery Level</th>
                    <th>Fullness Level</th>
                    <th>Time</th>
                </tr>

                <% if(dumpsterData.length != 0){ %>
                    <% var i = 1; %>
                    <% dumpsterData.forEach(function(data){ %>
            
                <tr>
                    <td><%= data.SensorID %></td>
                    <td><%= data.Longitude %></td>
                    <td><%= data.Latitude %></td>
                    <td><%= data.BatteryLevel %></td>
                    <td><%= data.FullnessLevel %></td>
                    <td><%= data.Time %></td>
                </tr>
                <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
                
            </table>


        </div>    
        </div>
        
            

        
    </div>
</body>

</html>