<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dumpster FIRE - Profile</title>
    <%- include('common.ejs') %>
        <link rel='stylesheet' href='/stylesheets/mainMenu.css' />
        <script src="/javascripts/radialProgress.js"></script>

</head>

<style>
    .battery>svg.radial-progress circle {
        stroke: #a2ed56;
    }

    .fullness>svg.radial-progress circle {
        stroke: #e29a15;
    }

    .num{
        font-size: 20px;
        color: #421a21;
    }

    .icon {
        border-radius: 50%;
        background-color: #e29a15;
        margin-top:10px;
    }

</style>



<body>
    <%- include('header.ejs') %>
        <div class="wrapper">
            <%- include('nav.ejs') %>
                <div class="content">
                    <h1>Welcome to DFIRE <%= user %>
                    </h1>

                    <p>
                        You have logged in as <%= role %>.
                            <% if (User.Role=="Admin" || User.Role=="Manager" ) { %>
                                Below is the list of dumpster reports from last 6 hours.
                                <br>
                                <img class='icon' src="images/fast-charge.png" alt="" width=50px >
                                <span class='num'><%= battery.length %> </span> Low Battery                             
                                <br>
                                <img class='icon' src="images/full-trash-container.png" alt="" width=50px >
                                <span class='num'><%= full.length %></span> Full Dumpsters
                                <% } %>
                                    <% if (User.Role=="Driver" ) { %>
                                        Below is the list of dumpsters assigned to you.
                                        <% } %>
                                            <br>
                    </p>

                    <div class="dumpsterMainMenu">


                        <% if(dumpsterData && dumpsterData.length !=0){ %>

                            <table id="dumpsterReport">
                                <tr class='headers'>
                                    <th>Dumpster ID</th>
                                    <th>Longitude</th>
                                    <th>Latitude</th>
                                    <th>Battery Level</th>
                                    <th>Fullness Level</th>
                                    <th>Time</th>
                                </tr>

                                <% var i=1; %>
                                    <% dumpsterData.forEach(function(data){ %>

                                        <tr>
                                            <td data-title="Dumpster ID">
                                                <%= data.DumpsterID %>
                                            </td>
                                            <td data-title="Longitude">
                                                <%= (data.Longitude).toFixed(3) %>
                                            </td>
                                            <td data-title="Latitude">
                                                <%= (data.Latitude).toFixed(3) %>
                                            </td>
                                            <td class='battery' data-title="Battery">
                                                <%- include('radialProgress.ejs', {value:data.BatteryLevel}) %>
                                            </td>
                                            <td class='fullness' data-title="Fullness Level">
                                                <%- include('radialProgress.ejs', {value:data.FullnessLevel}) %>
                                            </td>
                                            <td data-title="Time">
                                                <%= data.Time.toUTCString() %>
                                            </td>
                                        </tr>
                                        <% i++; }) %>
                                    <% } else{ %>
                                        <p>No recent data is found.</p>
                                    <% } %>

                            </table>


                    </div>
                </div>




        </div>
</body>

</html>