<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dumpster FIRE - User Management</title>
  <link rel='stylesheet' href='/stylesheets/userlist.css' />
    
</head>

<body>
  <div class="header">
    <h1 class="title"> Dumpster FIRE </h1>
  </div>
  <div class="wrapper">
    <%- include('nav.ejs') %>
      <div class="content">
        <div class="col-1">
          <h2 class="title">Search</h2>

          <div class="form">
            <div class="labels">
              <label for="name">Name: </label>
              <label for="role">Role</label>
            </div>

            <div class="fields">
              <form action="/userList" id="search_form">
                <input type="text" name="name" id="name" placeholder="*" value="<%=name%>">
                <input type="text" name="role" id="role" placeholder="*" value="<%=role%>">
              </form>
            </div>
          </div>
          <div class="btn-container">
            <button class="btn search" form="search_form" value="Submit">Search</button>
            <button class="btn reset">Reset</button>
          </div>

        </div>
        <div class="col-2">
          <h2 class="title">User List</h2>
          <table style="width:100%">
            <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>EMail</th>
              <th>Role</th>
            </tr>
            <% users.forEach(function(user) { %>
              <tr onclick="window.location='/profile/id/<%= user.UserID %>';">
                <td>
                  <%= user.UserID %>
                </td>
                <td>
                  <%= user.FirstName %>
                </td>
                <td>
                  <%= user.LastName %>
                </td>
                <td>
                  <%= user.Email %>
                </td>
                <td>
                  <%= user.Role %>
                </td>
              </tr>
              <%}); %>
          </table>
        </div>
      </div>
  </div>
</body>

</html>